In [188]:
import pandas as pd
df=pd.read_csv('weatherAUS.csv')

In [189]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [190]:
df.shape

(142193, 24)

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [192]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [193]:
df['Classification']=1

In [194]:
df.loc[df.RainTomorrow=='No',['Classification']]=0

In [195]:
df=df.drop(['RainTomorrow'],axis=1)

In [196]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,Classification
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,0

In [197]:
df=df.dropna(axis=0)

In [198]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,Classification
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,0
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,0
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,0

In [199]:
objList = df.select_dtypes(include = "object").columns
print(objList)

Index(['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm',
       'RainToday'],
      dtype='object')

In [200]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    df[feat] = le.fit_transform(df[feat].astype(str))

print (df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 5939 to 139112
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            56420 non-null  int32
 1   Location        56420 non-null  int32
 2   MinTemp         56420 non-null  float64
 3   MaxTemp         56420 non-null  float64
 4   Rainfall        56420 non-null  float64
 5   Evaporation     56420 non-null  float64
 6   Sunshine        56420 non-null  float64
 7   WindGustDir     56420 non-null  int32
 8   WindGustSpeed   56420 non-null  float64
 9   WindDir9am      56420 non-null  int32
 10  WindDir3pm      56420 non-null  int32
 11  WindSpeed9am    56420 non-null  float64
 12  WindSpeed3pm    56420 non-null  float64
 13  Humidity9am     56420 non-null  float64
 14  Humidity3pm     56420 non-null  float64
 15  Pressure9am     56420 non-null  float64
 16  Pressure3pm     56420 non-null  float64
 17  Cloud9am        56420 non-null  float64
 18  Cloud3pm        56420 non-null  float64
 19  Temp9am         56420 non-null  float64
 20  Temp3pm         56420 non-null  float64
 21  RainToday       56420 non-null  int32
 22  RISK_MM         56420 non-null  float64
 23  Classification  56420 non-null  int64
dtypes: float64(17), int32(6), int64(1)
memory usage: 9.5 MB
None

In [201]:
x=df.iloc[:,:-1]
y=df['Classification']

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 5939 to 139112
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            56420 non-null  int32
 1   Location        56420 non-null  int32
 2   MinTemp         56420 non-null  float64
 3   MaxTemp         56420 non-null  float64
 4   Rainfall        56420 non-null  float64
 5   Evaporation     56420 non-null  float64
 6   Sunshine        56420 non-null  float64
 7   WindGustDir     56420 non-null  int32
 8   WindGustSpeed   56420 non-null  float64
 9   WindDir9am      56420 non-null  int32
 10  WindDir3pm      56420 non-null  int32
 11  WindSpeed9am    56420 non-null  float64
 12  WindSpeed3pm    56420 non-null  float64
 13  Humidity9am     56420 non-null  float64
 14  Humidity3pm     56420 non-null  float64
 15  Pressure9am     56420 non-null  float64
 16  Pressure3pm     56420 non-null  float64
 17  Cloud9am        56420 non-null  float64
 18  Cloud3pm        56420 non-null  float64
 19  Temp9am         56420 non-null  float64
 20  Temp3pm         56420 non-null  float64
 21  RainToday       56420 non-null  int32
 22  RISK_MM         56420 non-null  float64
 23  Classification  56420 non-null  int64
dtypes: float64(17), int32(6), int64(1)
memory usage: 9.5 MB

In [203]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)
dtree=DecisionTreeClassifier(max_depth=8,random_state=101,max_features=101,min_samples_leaf=13)
dtree.fit(X_train,X_test)
y_pred=dtree.predict(X_train)
y_pred_test=dtree.predict(X_test)
print('Test accuracy:', accuracy_score(y_test,y_pred_test)*100)
print('Train accuracy:',accuracy_score(y_train,y_pred)*100)

ValueError: Unknown label type: 'continuous-multioutput'

In [116]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,Classification
5939,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,0
5940,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,0
5942,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,0
5943,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,0.0,0
5944,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,NE,...,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,0.0,0
139109,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,SE,...,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,0.0,0
139110,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,W,...,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,0.0,0
139111,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,NNW,...,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,0.0,0
139112,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,NNW,...,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,0.0,0

In [204]:
from sklearn.linear_model import SGDClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)
sgd=SGDClassifier(loss='log',random_state=101)
sgd.fit(X_train,y_train)
y_pred_test=sgd.predict(X_test)  
y_pred_tr=sgd.predict(X_train)

print('Test Accuracy :', accuracy_score(y_test,y_pred_test)*100) 
print('Train Accuracy :', accuracy_score(y_train, y_pred_tr)*100)

Test Accuracy : 92.4435779274489
Train Accuracy : 92.67736871423507

Random Forest

In [206]:
from sklearn import ensemble
from sklearn.metrics import f1_score
rfc = ensemble.RandomForestClassifier(n_estimators = 100)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)
rfc = rfc.fit(X_train, y_train)

In [207]:
rfc_predicted_train = rfc.predict(X_train)
rfc_predicted_test = rfc.predict(X_test)
print('Train Accuracy :', accuracy_score(y_train, rfc_predicted_train)*100)
print('Test Accuracy :', accuracy_score(y_test, rfc_predicted_test)*100)
print("\n")
print("Train F1 Score :", f1_score(y_train, rfc_predicted_train, average = "macro"))
print("Test F1 Score :", f1_score(y_test, rfc_predicted_test, average = 'macro'))

Train Accuracy : 100.0
Test Accuracy : 100.0


Train F1 Score : 1.0
Test F1 Score : 1.0